/* color palette from <https://github.com/vuejs/theme> */
:root {
  --offset-size: 1px;
  --side-width: 240px;
  --win-height: calc(100vh - var(--offset-size) * 2);
  --win-width: calc(100vw - var(--offset-size) * 2);
  --content-width: calc(var(--win-width) - var(--side-width));

  /* 主题色 */
  --color-neptune: #82bbb5;
  --color-bronze: #ca884b;
  --color-japonica: #d1825b;
  --color-harvest-gold: #cca142;
  --color-background: #f7f8f9;
  --color-side-active: #eef1f3;
  --color-canvas: rgba(255, 255, 255, 0.6);
  --color-project: #fdfdfd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  border-radius: 8px;
  overflow: hidden;
  margin: var(--offset-size);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}
