/* graph 右键菜单 */
.graph-menu {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;

  > ul {

    > li {
      margin: 4px;
      padding: 4px;
      list-style-type: none;

      &:hover {
        border-radius: 4px;
        cursor: pointer;
        background: rgba(37, 159, 167, 0.1)
      }
    }
  }
}
