@import 'base.css';
@import "scrollbar.css";

#app {
    font-weight: normal;
}

/*antV g6 custom tooltip */
.g6-tooltip {
    padding: 10px 6px;
    color: #444;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e2e2e2;
    border-radius: 4px;
}

.ghost-class {
    opacity: 0;
}

.drag-class {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    opacity: 1 !important;
}

.chosen-class .drag-icon {
    visibility: visible;
}

.mover {
}

.modal-class {
    margin: 1px;
    border-radius: 8px;
    width: var(--win-width);
    height: var(--win-height);
}

.tip-class {
    border: 0 !important;
    opacity: 0.7;
}

/* 卡片编辑器弹框样式 */
.editor-class {
    background: #82bbb5;
    height: var(--win-height) !important;
}

* {
    touch-action: pan-y;
}
