@import '../../theme/variables.less';

.node {
  background: @cellBackground;
  height: 40px;
  border: 2px solid @appBackground;
  border-radius: 0.5em;
  user-select: none;
}

.node:hover {
  background: @hoverBackground;
}
