@import '../../theme/variables.less';

.base {
  background: @cellBackground;
  height: 30px;
  border: 2px solid @appBackground;
  border-radius: 10%;
  color: white;
}

.base:hover {
  background: @hoverBackground;
}
