.leftSide {
  display: grid;
  grid-template-rows: 1fr auto;
  background: #202020;
  color: white;
}

.myButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #202020;
  cursor: default;
}

.myButton:hover {
  background: #323232;
}

.myHr {
  height: 1px;
  border: none;
  border-top: 1px solid #323232;
}
