@import '../theme/variables.less';

.leftSide {
  display: grid;
  grid-template-rows: 1fr auto;
  background: @projectListBackground;
  color: white;
}

.myButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: @projectListBackground;
  cursor: default;
  user-select: none;
}

.myButton:hover {
  background: @hoverBackground;
}

.myHr {
  height: 1px;
  border: none;
  border-top: 1px solid @hoverBackground;
}

// 任务列表滚动面板
.scrollPane {
  overflow-y: auto;
  height: calc(100vh - 120px);
}

// 任务详情列表滚动面板
.bodyScrollPane {
  padding: 0 @blankOffset;
  overflow-y: auto;
  height: 100vh;
  background: @appBackground;
}

.header {
  position: sticky;
  top: 0;
  height: @blankOffset;
  background: @appBackground;
  z-index: 99;
}

.footer {
  position: sticky;
  bottom: 0;
  height: @blankOffset;
  background: @appBackground;
}

.offset {
  height: 4px;
}
