@font-face {
  font-family: "iconfont"; /* Project id 4265677 */
  src: url('iconfont.woff2?t=1698974019424') format('woff2'),
       url('iconfont.woff?t=1698974019424') format('woff'),
       url('iconfont.ttf?t=1698974019424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-window-close:before {
  content: "\e713";
}

.icon-window-minimize1:before {
  content: "\e669";
}

.icon-window-maximize:before {
  content: "\e679";
}

.icon-base_circle:before {
  content: "\e648";
}

.icon-base_checked:before {
  content: "\e655";
}

.icon-sun:before {
  content: "\e603";
}

