@font-face {
  font-family: "iconfont"; /* Project id 4265677 */
  src: url('iconfont.woff2?t=1699072022598') format('woff2'),
       url('iconfont.woff?t=1699072022598') format('woff'),
       url('iconfont.ttf?t=1699072022598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chexiao:before {
  content: "\e619";
}

.icon-address:before {
  content: "\e636";
}

.icon-rili:before {
  content: "\e624";
}

.icon-window-window_line:before {
  content: "\e698";
}

.icon-window-close:before {
  content: "\e69d";
}

.icon-window-max_line:before {
  content: "\e695";
}

.icon-window-min_line:before {
  content: "\e697";
}

.icon-base_circle:before {
  content: "\e648";
}

.icon-base_checked:before {
  content: "\e655";
}

.icon-sun:before {
  content: "\e603";
}

