@font-face {
  font-family: "iconfont"; /* Project id 4265677 */
  src: url('iconfont.woff2?t=1698911310272') format('woff2'),
       url('iconfont.woff?t=1698911310272') format('woff'),
       url('iconfont.ttf?t=1698911310272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jichu_yuanquan:before {
  content: "\e648";
}

.icon-jichu_hedui2tianchong:before {
  content: "\e655";
}

.icon-sun:before {
  content: "\e603";
}

.icon-a-Addto:before {
  content: "\e665";
}

