:root {
  --font-middle-size: 15px;
  --font-large-size: 18px;
  --font-small-size: 13px;

  --font-default-weight: 400;
  --font-light-weight: 200;
  --font-strong-weight: 600;

  --text-default-color: #343a40;

  --background-top-color: #ffffff;
  --background-middle-color: #f9fafd;
  --background-bottom-color: #f2f3f6;
  --background-active-color: #e5ebef;
  --background-card-color: #e1e2e3;
  --background-canvas-color: #f2f4f7;

  --border-default-color: #33333350;
  --border-default-style: 1px solid var(--border-default-color);

  --border-radius-default-value: 4px;

  --box-shadow-default-value: 0 2px 4px rgba(0, 0, 0, 0.1);

  --transition-default-value: all 0.3s ease-in-out;

  --primary-color: #409eff;
  --primary-color-light: #e6f7ff;
  --primary-color-dark: #3a8ee6;
}
