.ghost-class {
    opacity: 0;
}

.drag-class {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    opacity: 1 !important;
}

.chosen-class .drag-icon {
    visibility: visible;
}

.move {
    /**用于标记可移动的项目*/
}