.ghost-class {
    opacity: 0;
}

.drag-class {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    /*opacity: 1 !important;*/
    cursor: grab;
    position: absolute;
}

.chosen-class {
    visibility: visible;
    cursor: grab;
}

.move {
    &:hover {
        cursor: grab;
    }
}