.main {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100vh;
}

.side {
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--app-background);
  color: white;
}

/* .side:hover {
  height: 1px;
  border: none;
  border-top: 1px solid var(--mouse-hover-background);
}
*/